
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-US">

@Html.Partial("/Views/Shared/TemplateLayoutPartial/_TemplateLayoutHead.cshtml")

<body class="page-template page-template-full-width page-template-full-width-php page page-id-716 theme-baumeister mkd-core-1.2.3 woocommerce-no-js baumeister-ver-1.6 mkd-grid-1300 mkd-content-is-behind-header mkd-disable-global-padding-bottom mkd-light-header mkd-sticky-header-on-scroll-down-up mkd-dropdown-animate-height mkd-header-standard mkd-menu-area-shadow-disable mkd-menu-area-in-grid-shadow-disable mkd-menu-area-border-disable mkd-menu-area-in-grid-border-disable mkd-logo-area-border-disable mkd-logo-area-in-grid-border-disable mkd-header-vertical-shadow-disable mkd-header-vertical-border-disable mkd-side-menu-slide-from-right mkd-woocommerce-columns-3 mkd-woo-normal-space mkd-woo-pl-info-below-image mkd-woo-single-thumb-below-image mkd-woo-single-has-pretty-photo mkd-default-mobile-header mkd-sticky-up-mobile-header mkd-header-top-enabled mkd-search-covers-header wpb-js-composer js-comp-ver-6.9.0 vc_responsive" itemscope itemtype="http://schema.org/WebPage">
    <section class="mkd-side-menu">
        <div class="mkd-close-side-menu-holder">
            <a class="mkd-close-side-menu" href="#" target="_self">
                <span aria-hidden="true" class="mkd-icon-font-elegant icon_close "></span>
            </a>
        </div>
        <div id="media_image-4" class="widget mkd-sidearea widget_media_image"><img width="217" height="38" src="~/Images/Logo/logo.png" class="image wp-image-3390  attachment-full size-full" alt="a" loading="lazy" style="max-width: 100%; height: auto;" /></div><div id="text-7" class="widget mkd-sidearea widget_text">
            <div class="textwidget">
                <p>
                    Sektörün önde gelen firmalarından olan Matser ailesi olarak; siz değerli müşterilerimize kaliteli ve güler yüzlü hizmet sunmayı misyon edindik.

                </p>
            </div>
        </div><div id="text-8" class="widget mkd-sidearea widget_text">
            <div class="mkd-widget-title-holder"><h4 class="mkd-widget-title">İletişim</h4></div> <div class="textwidget"></div>
        </div>
        <a class="mkd-icon-widget-holder" href="#" target="_self" style="margin: -20px 0 0 0">
            <span class="mkd-icon-text mkd-no-icon fa fa-map-marker      mkd-icon-has-hover" style="color: #fdb913;font-size: 15px" data-hover-color="#e7a022"><span class="mkd-icon-text-inner" style="color: #fff">İkitelli O.S.B. Aykosan San. Sitesi Altılı A, D:Blok No:79, İstanbul, Türkiye</span></span>
        </a>
        @*<a class="mkd-icon-widget-holder" href="#" target="_self" style="margin: -20px 0 0 20px">
                <span class="mkd-icon-text mkd-no-icon      " style="font-size: 15px"><span class="mkd-icon-text-inner" style="color: #fff">Türkiye</span></span>
            </a>*@
        <a class="mkd-icon-widget-holder" href="tel:+902126717444" target="_self" style="margin: 20px 0px 0">
            <span class="mkd-icon-text mkd-no-icon fa fa-phone      mkd-icon-has-hover" style="color: #fdb913;font-size: 15px" data-hover-color="#e7a022">
                <span class="mkd-icon-text-inner" style="color: #fff">
                    +90 | 212 671 74 44
                </span>
            </span>
        </a>
        <a class="mkd-icon-widget-holder" href="#" target="_self" style="margin: 0 0 20px 28px">
            <span class="mkd-icon-text mkd-no-icon" style="font-size: 15px"><span class="mkd-icon-text-inner" style="color: #fff">Ptesi-Ctesi 09:00-19:00</span></span>
        </a>
        <a class="mkd-icon-widget-holder" href="mailto:info@matser.com.tr" target="_self" style="margin: 0 0 50px 0">
            <span class="mkd-icon-text mkd-no-icon fa fa-envelope-o      mkd-icon-has-hover" style="color: #fdb913;font-size: 15px" data-hover-color="#e7a022"><span class="mkd-icon-text-inner" style="color: #fff">info@matser.com.tr</span></span>
        </a>
        <div id="text-9" class="widget mkd-sidearea widget_text">
            <div class="mkd-widget-title-holder"><h4 class="mkd-widget-title">Paylaş</h4></div> <div class="textwidget"></div>
        </div>
        <a class="mkd-social-icon-widget-holder mkd-icon-has-hover" data-hover-color="#e7a022" style="color: #fff;;font-size: 14px;margin: -45px 0 0;" href="https://www.facebook.com/matser/" target="_blank">
            <span class="mkd-social-icon-widget fa fa-facebook     "></span>
        </a>
        <a class="mkd-social-icon-widget-holder mkd-icon-has-hover" data-hover-color="#e7a022" style="color: #fff;;font-size: 14px;margin: -45px 18px 0px;" href="https://plus.google.com/" target="_blank">
            <span class="mkd-social-icon-widget fa fa-google-plus     "></span>
        </a>
        <a class="mkd-social-icon-widget-holder mkd-icon-has-hover" data-hover-color="#e7a022" style="color: #fff;;font-size: 14px;margin: -45px 0 0;" href="https://www.instagram.com/matser/" target="_blank">
            <span class="mkd-social-icon-widget fa fa-instagram     "></span>
        </a>
        <a class="mkd-social-icon-widget-holder mkd-icon-has-hover" data-hover-color="#e7a022" style="color: #fff;;font-size: 14px;margin: -45px 0 0 20px;" href="https://www.pinterest.com/matser/" target="_blank">
            <span class="mkd-social-icon-widget fa fa-pinterest     "></span>
        </a>
    </section>
    <div class="mkd-wrapper">
        <div class="mkd-wrapper-inner">
            <div class="mkd-top-bar">
                <div class="mkd-vertical-align-containers">
                    <div class="mkd-position-left">
                        <div class="mkd-position-left-inner">
                            <a class="mkd-icon-widget-holder" href="https://www.google.com/maps?ll=41.072709,28.798348&z=16&t=m&hl=tr&gl=TR&mapclient=embed&cid=8521210214383307845&_ga=2.17792113.995451334.1663767303-38840947.1663767303" target="_blank" style="margin: 0 17px 0 0">
                                <span class="mkd-icon-text mkd-no-icon fa fa-truck      mkd-icon-has-hover" style="color: #fdb913;font-size: 15px" data-hover-color="#e7a022"><span class="mkd-icon-text-inner" style="color: #fff">İkitelli, İstanbul</span></span>
                            </a>
                            <div class="widget mkd-separator-widget">
                                <div class="mkd-separator-holder clearfix  mkd-separator-center mkd-separator-normal">
                                    <div class="mkd-separator" style="border-color: rgba(255,255,255,0.25);border-style: solid;width: 1px;border-bottom-width: 20px"></div>
                                </div>
                            </div>
                            <a class="mkd-icon-widget-holder" href="tel:+902126717444" target="_self" style="margin: 0 17px">
                                <span class="mkd-icon-text mkd-no-icon fa fa-phone      mkd-icon-has-hover" style="color: #fdb913;font-size: 15px" data-hover-color="#e7a022"><span class="mkd-icon-text-inner" style="color: #fff">+90 | 212 671 74 44</span></span>
                            </a>
                            <div class="widget mkd-separator-widget">
                                <div class="mkd-separator-holder clearfix  mkd-separator-center mkd-separator-normal">
                                    <div class="mkd-separator" style="border-color: rgba(255,255,255,0.25);border-style: solid;width: 1px;border-bottom-width: 20px"></div>
                                </div>
                            </div>
                            <a class="mkd-icon-widget-holder" href="mailto:info@matser.com.tr" target="_self" style="margin: 0 0 0 17px">
                                <span class="mkd-icon-text mkd-no-icon fa fa-envelope-o      mkd-icon-has-hover" style="color: #fdb913;font-size: 15px" data-hover-color="#e7a022"><span class="mkd-icon-text-inner" style="color: #fff">info@matser.com.tr</span></span>
                            </a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="widget mkd-separator-widget">
                                <div class="mkd-separator-holder clearfix  mkd-separator-center mkd-separator-normal">
                                    <div class="mkd-separator" style="border-color: rgba(255,255,255,0.25);border-style: solid;width: 1px;border-bottom-width: 20px"></div>
                                </div>
                            </div>
                            <a class="mkd-icon-widget-holder" href="/Default/Newsletter" target="_self" style="margin: 0 0 0 17px">
                                <span class="mkd-icon-text mkd-no-icon fa fa-newspaper-o      mkd-icon-has-hover" style="color: #fdb913;font-size: 15px" data-hover-color="#e7a022"><span class="mkd-icon-text-inner" style="color: #fff">E-Bülten</span></span>
                            </a>
                        </div>
                    </div>
                    <div class="mkd-position-right">
                        <div class="mkd-position-right-inner">
                            <a class="mkd-social-icon-widget-holder mkd-icon-has-hover" data-hover-color="#e7a022" style="color: #fff;;font-size: 14px" href="https://twitter.com/matser/" target="_blank">
                                <span class="mkd-social-icon-widget fa fa-twitter     "></span>
                            </a>
                            <a class="mkd-social-icon-widget-holder mkd-icon-has-hover" data-hover-color="#e7a022" style="color: #fff;;font-size: 14px;margin: 0 15px;" href="https://www.facebook.com/matser/" target="_blank">
                                <span class="mkd-social-icon-widget fa fa-facebook     "></span>
                            </a>
                            <a class="mkd-social-icon-widget-holder mkd-icon-has-hover" data-hover-color="#e7a022" style="color: #fff;;font-size: 14px;margin: 0 15px 0 0;" href="https://plus.google.com/matser" target="_blank">
                                <span class="mkd-social-icon-widget fa fa-google-plus     "></span>
                            </a>
                            <a class="mkd-social-icon-widget-holder mkd-icon-has-hover" data-hover-color="#e7a022" style="color: #fff;;font-size: 14px;margin: 0 15px 0 0;" href="https://www.linkedin.com/matser/" target="_blank">
                                <span class="mkd-social-icon-widget fa fa-linkedin     "></span>
                            </a>
                            @*<div class="widget mkd-separator-widget">
                                    <div class="mkd-separator-holder clearfix  mkd-separator-center mkd-separator-normal">
                                        <div class="mkd-separator" style="border-color: rgba(255,255,255,0.25);border-style: solid;width: 1px;border-bottom-width: 20px"></div>
                                    </div>
                                </div>*@
                            @*<div class="widget mkd-separator-widget">
                                    <div class="mkd-separator-holder clearfix  mkd-separator-center mkd-separator-normal">
                                        <div class="mkd-separator" style="border-color: rgba(255,255,255,0);border-style: solid;width: 15px"></div>
                                    </div>
                                </div>*@
                            @*<div id="media_image-5" class="widget widget_media_image mkd-top-bar-widget"><img width="49" height="25" src="~/FactoryTemplate/baumeister.qodeinteractive.com/wp-content/uploads/2017/11/topbar-img-1.png" class="image wp-image-1063  attachment-full size-full" alt="a" loading="lazy" style="max-width: 100%; height: auto;" /></div>*@
                        </div>
                    </div>
                </div>
            </div>
            <header class="mkd-page-header">
                <div class="mkd-menu-area mkd-menu-left">
                    <div class="mkd-vertical-align-containers">
                        <div class="mkd-position-left">
                            <div class="mkd-position-left-inner">
                                <div class="mkd-logo-wrapper">
                                    <a itemprop="url" href="/Default/Index" style="height: 60px;">
                                        <img itemprop="image" style="width:125%;" class="mkd-normal-logo" src="~/Images/Logo/logo.png" alt="logo" />
                                        <img itemprop="image" style="width:125%;" class="mkd-dark-logo" src="~/Images/Logo/logo.png" alt="dark logo" /> <img itemprop="image" style="width:125%;" class="mkd-light-logo" src="~/Images/Logo/logo.png" alt="light logo" />
                                    </a>
                                </div>
                                <nav class="mkd-main-menu mkd-drop-down mkd-default-nav">
                                    <ul id="menu-main-menu-navigation" class="clearfix">
                                        <li id="nav-menu-item-379" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children mkd-active-item has_sub narrow">
                                            <a href="/Default/Index" class=" current "><span class="item_outer"><span class="item_text">ANASAYFA</span><i class="mkd-menu-arrow fa fa-angle-down"></i></span></a>
                                        </li>
                                        <li id="nav-menu-item-380" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
                                            <a href="#" class=""><span class="item_outer"><span class="item_text">MATSER</span><i class="ml-2 fa fa-angle-down"></i></span></a>
                                            <div class="second">
                                                <div class="inner">
                                                    <ul>
                                                        <li id="nav-menu-item-843" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/Default/AboutUs" class=""><span class="item_outer"><span class="item_text">Hakkımızda</span></span></a></li>
                                                        <li id="nav-menu-item-843" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/Default/Service" class=""><span class="item_outer"><span class="item_text">Hizmetlerimiz</span></span></a></li>
                                                        <li id="nav-menu-item-843" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/Default/OurTeam" class=""><span class="item_outer"><span class="item_text">Ekip Arkadaşlarımız</span></span></a></li>
                                                        <li id="nav-menu-item-549" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/Default/Faq" class=""><span class="item_outer"><span class="item_text">SSS</span></span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li id="nav-menu-item-383" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
                                            <a href="#" class=""><span class="item_outer"><span class="item_text">MAKİNELERİMİZ</span><i class="ml-2 fa fa-angle-down"></i></span></a>
                                            <div class="second">
                                                <div class="inner">
                                                    <ul>
                                                        <li id="nav-menu-item-553" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/Default/StockList" class=""><span class="item_outer"><span class="item_text">Stok Listesi</span></span></a></li>
                                                        <li id="nav-menu-item-1197" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/Default/MachineCategory/1" class=""><span class="item_outer"><span class="item_text">Baskı Öncesi</span></span></a></li>
                                                        <li id="nav-menu-item-1197" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/Default/MachineCategory/2" class=""><span class="item_outer"><span class="item_text">Ofset Baskı</span></span></a></li>
                                                        <li id="nav-menu-item-1197" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/Default/MachineCategory/3" class=""><span class="item_outer"><span class="item_text">Baskı Sonrası</span></span></a></li>
                                                        <li id="nav-menu-item-1197" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/Default/MachineCategory/4" class=""><span class="item_outer"><span class="item_text">Etiket Baskı</span></span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li id="nav-menu-item-381" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
                                            <a href="/Default/Product" class=""><span class="item_outer"><span class="item_text">ALIŞVERİŞ</span><i class="mkd-menu-arrow fa fa-angle-down"></i></span></a>
                                        </li>
                                        <li id="nav-menu-item-382" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
                                            <a href="/Default/Blog" class=""><span class="item_outer"><span class="item_text">HABERLER </span><i class="mkd-menu-arrow fa fa-angle-down"></i></span></a>

                                        </li>
                                        <li id="nav-menu-item-384" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub wide">
                                            <a href="/Default/Contact" class=""><span class="item_outer"><span class="item_text">İLETİŞİM</span><i class="mkd-menu-arrow fa fa-angle-down"></i></span></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="mkd-position-right">
                            <div class="mkd-position-right-inner">
                                <div class="mkd-shopping-cart-holder row" style="padding: 0 24px 0 10px">
                                    <div class="row mt-4 mr-2">

                                        <a href="#" onclick="doGTranslate('en|tr');jQuery('div.switcher div.selected a').html(jQuery(this).html());return false;" title="Türkçe" class=" mt-3 nturl">
                                            <img src="https://i.hizliresim.com/tt1hi5r.png" height="35" width="32" alt="Turkish">
                                        </a>
                                        &nbsp;
                                        <a href="#" onclick="doGTranslate('tr|en');jQuery('div.switcher div.selected a').html(jQuery(this).html());return false;" title="English" class=" ml-2 mt-3 nturl">
                                            <img src="https://i.hizliresim.com/fxd9u1h.png" height="35" width="32" alt="English">
                                        </a>
                                    </div>
                                </div>



                                <a class="mkd-side-menu-button-opener mkd-icon-has-hover" href="javascript:void(0)">
                                    <span class="mkd-side-menu-icon">
                                        <i class="mkd-icon-font-awesome fa fa-bars "></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mkd-sticky-header">
                    <div class="mkd-sticky-holder mkd-menu-left">
                        <div class="mkd-vertical-align-containers">
                            <div class="mkd-position-left">
                                <div class="mkd-position-left-inner">
                                    <div class="mkd-logo-wrapper">
                                        <a itemprop="url" href="/Default/Index" style="height: 40px;">
                                            <img itemprop="image" style="width:125%;" class="mkd-normal-logo" src="~/Images/Logo/matser_logo.png" alt="logo" />
                                            <img itemprop="image" style="width:125%;" class="mkd-dark-logo" src="~/Images/Logo/matser_logo.png" alt="dark logo" /> <img itemprop="image" style="width:125%;" class="mkd-light-logo" src="~/Images/Logo/matser_logo.png" alt="light logo" />
                                        </a>
                                    </div>
                                    <nav class="mkd-main-menu mkd-drop-down mkd-sticky-nav">
                                        <ul id="menu-main-menu-navigation" class="clearfix">
                                            <li id="nav-menu-item-379" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children mkd-active-item has_sub narrow">
                                                <a href="/Default/Index" class=" current "><span class="item_outer"><span class="item_text">ANASAYFA</span><i class="mkd-menu-arrow fa fa-angle-down"></i></span></a>
                                            </li>
                                            <li id="nav-menu-item-380" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
                                                <a href="#" class=""><span class="item_outer"><span class="item_text">MATSER</span><i class="ml-2 fa fa-angle-down"></i></span></a>
                                                <div class="second">
                                                    <div class="inner">
                                                        <ul>
                                                            <li id="nav-menu-item-843" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/Default/AboutUs" class=""><span class="item_outer"><span class="item_text">Hakkımızda</span></span></a></li>
                                                            <li id="nav-menu-item-843" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/Default/Service" class=""><span class="item_outer"><span class="item_text">Hizmetlerimiz</span></span></a></li>
                                                            <li id="nav-menu-item-843" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/Default/OurTeam" class=""><span class="item_outer"><span class="item_text">Ekip Arkadaşlarımız</span></span></a></li>
                                                            <li id="nav-menu-item-843" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/Default/Newsletter" class=""><span class="item_outer"><span class="item_text">E-Bülten</span></span></a></li>
                                                            <li id="nav-menu-item-549" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/Default/Faq" class=""><span class="item_outer"><span class="item_text">SSS</span></span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li id="nav-menu-item-383" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
                                                <a href="#" class=""><span class="item_outer"><span class="item_text">MAKİNELERİMİZ</span><i class="ml-2 fa fa-angle-down"></i></span></a>
                                                <div class="second">
                                                    <div class="inner">
                                                        <ul>
                                                            <li id="nav-menu-item-553" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/Default/StockList" class=""><span class="item_outer"><span class="item_text">Stok Listesi</span></span></a></li>
                                                            <li id="nav-menu-item-1197" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/Default/MachineCategory/1" class=""><span class="item_outer"><span class="item_text">Baskı Öncesi</span></span></a></li>
                                                            <li id="nav-menu-item-1197" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/Default/MachineCategory/2" class=""><span class="item_outer"><span class="item_text">Ofset Baskı</span></span></a></li>
                                                            <li id="nav-menu-item-1197" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/Default/MachineCategory/3" class=""><span class="item_outer"><span class="item_text">Baskı Sonrası</span></span></a></li>
                                                            <li id="nav-menu-item-1197" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/Default/MachineCategory/4" class=""><span class="item_outer"><span class="item_text">Etiket Baskı</span></span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li id="nav-menu-item-381" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
                                                <a href="/Default/Product" class=""><span class="item_outer"><span class="item_text">ALIŞVERİŞ</span><i class="mkd-menu-arrow fa fa-angle-down"></i></span></a>
                                            </li>
                                            <li id="nav-menu-item-382" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
                                                <a href="/Default/Blog" class=""><span class="item_outer"><span class="item_text">HABERLER </span><i class="mkd-menu-arrow fa fa-angle-down"></i></span></a>

                                            </li>
                                            <li id="nav-menu-item-384" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub wide">
                                                <a href="/Default/Contact" class=""><span class="item_outer"><span class="item_text">İLETİŞİM</span><i class="mkd-menu-arrow fa fa-angle-down"></i></span></a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="mkd-position-right">
                                <div class="mkd-position-right-inner">
                                    <div class="mkd-shopping-cart-holder row" style="padding: 0 24px 0 10px">
                                        <div class="row mt-2 mr-2">

                                            <a href="#" onclick="doGTranslate('en|tr');jQuery('div.switcher div.selected a').html(jQuery(this).html());return false;" title="Türkçe" class=" mt-3 nturl">
                                                <img src="https://i.hizliresim.com/tt1hi5r.png" height="35" width="32" alt="Turkish">
                                            </a>
                                            &nbsp;
                                            <a href="#" onclick="doGTranslate('tr|en');jQuery('div.switcher div.selected a').html(jQuery(this).html());return false;" title="English" class=" ml-2 mt-3 nturl">
                                                <img src="https://i.hizliresim.com/fxd9u1h.png" height="35" width="32" alt="English">
                                            </a>
                                        </div>
                                    </div>



                                    <a class="mkd-side-menu-button-opener mkd-icon-has-hover" href="javascript:void(0)">
                                        <span class="mkd-side-menu-icon">
                                            <i class="mkd-icon-font-awesome fa fa-bars "></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form action="https://baumeister.qodeinteractive.com/" class="mkd-search-cover" method="get">
                    <div class="mkd-container">
                        <div class="mkd-container-inner clearfix">
                            <div class="mkd-form-holder-outer">
                                <div class="mkd-form-holder">
                                    <div class="mkd-form-holder-inner">
                                        <input type="text" placeholder="Search" name="s" class="mkd_search_field" autocomplete="off" />
                                        <div class="mkd-search-close">
                                            <a href="#">
                                                <i class="mkd-icon-font-awesome fa fa-times "></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </header>
            <header class="mkd-mobile-header">
                <div class="mkd-mobile-header-inner">
                    <div class="mkd-mobile-header-holder">
                        <div class="mkd-grid">
                            <div class="mkd-vertical-align-containers">
                                <div class="mkd-vertical-align-containers">
                                    <div class="mkd-mobile-menu-opener">
                                        <a href="javascript:void(0)">
                                            <span class="mkd-mobile-menu-icon">
                                                <span aria-hidden="true" class="mkd-icon-font-elegant icon_menu "></span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="mkd-position-center">
                                        <div class="mkd-position-center-inner">
                                            <div class="mkd-mobile-logo-wrapper">
                                                <a itemprop="url" href="/Default/Index" style="height: 60px">
                                                    <img itemprop="image" style="width:150%;" src="~/Images/Logo/matser_logo.png" alt="Mobile Logo" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mkd-position-right">
                                        <div class="mkd-position-right-inner">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="mkd-mobile-nav">
                        <div class="mkd-grid">
                            <ul id="menu-main-menu-navigation-2" class="">
                                <li id="mobile-menu-item-379" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children mkd-active-item has_sub">
                                    <a href="/Default/Index" class=" current  mkd-mobile-no-link">
                                        <span>ANASAYFA</span>
                                    </a>
                                </li>
                                <li id="mobile-menu-item-380" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub">
                                    <a href="#" class=" mkd-mobile-no-link"><span>MATSER</span></a><span class="mobile_arrow"><i class="mkd-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
                                    <ul class="sub_menu">
                                        <li id="mobile-menu-item-843" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/Default/AboutUs" class=""><span>HAKKIMIZDA</span></a></li>
                                        <li id="mobile-menu-item-549" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/Default/Service" class=""><span>HİZMETLERİMİZ</span></a></li>
                                        <li id="mobile-menu-item-551" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/Default/OurTeam" class=""><span>EKİP ARKADAŞLARIMIZ</span></a></li>
                                        <li id="mobile-menu-item-551" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/Default/Newsletter" class=""><span>E-BÜLTEN</span></a></li>
                                        <li id="mobile-menu-item-545" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/Default/Faq" class=""><span>SSS</span></a></li>
                                    </ul>
                                </li>
                                <li id="mobile-menu-item-379" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children has_sub">
                                    <a href="#" class=" current  mkd-mobile-no-link"><span>MAKİNELERİMİZ</span></a><span class="mobile_arrow"><i class="mkd-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
                                    <ul class="sub_menu">
                                        <li id="mobile-menu-item-544" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home "><a href="/Default/StockList" class=""><span>STOK LİSTESİ</span></a></li>
                                        <li id="mobile-menu-item-902" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/Default/MachineCategory/1" class=""><span>BASKI ÖNCESİ</span></a></li>
                                        <li id="mobile-menu-item-723" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/Default/MachineCategory/2" class=""><span>OFSET BASKI</span></a></li>
                                        <li id="mobile-menu-item-596" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/Default/MachineCategory/3" class=""><span>BASKI SONRASI</span></a></li>
                                        <li id="mobile-menu-item-971" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/Default/MachineCategory/4" class=""><span>ETİKET BASKI</span></a></li>
                                    </ul>
                                </li>
                                <li id="mobile-menu-item-381" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub">
                                    <a href="/Default/Product" class=" mkd-mobile-no-link"><span>ALIŞVERİŞ</span></a>
                                </li>
                                <li id="mobile-menu-item-382" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub">
                                    <a href="/Default/Blog" class=" mkd-mobile-no-link"><span>HABERLER</span></a>
                                </li>
                                <li id="mobile-menu-item-383" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub">
                                    <a href="/Default/Contact" class=" mkd-mobile-no-link"><span>İLETİŞİM</span></a>
                                </li>
                                <li id="mobile-menu-item-384" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub">
                                    <a href="#" onclick="doGTranslate('en|tr');jQuery('div.switcher div.selected a').html(jQuery(this).html());return false;" title="Türkçe" class=" mkd-mobile-no-link nturl">
                                        <img src="https://i.hizliresim.com/tt1hi5r.png" height="35" width="32" alt="Turkish">&nbsp; TÜRKÇE
                                    </a>

                                </li>
                                <li id="mobile-menu-item-383" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub">
                                    <a href="#" onclick="doGTranslate('tr|en');jQuery('div.switcher div.selected a').html(jQuery(this).html());return false;" title="English" class=" mkd-mobile-no-link nturl">
                                        <img src="https://i.hizliresim.com/fxd9u1h.png" height="35" width="32" alt="English">&nbsp; ENGLISH
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </header>
            <a id='mkd-back-to-top' href='#'>
                <span class="mkd-icon-stack">
                    <i class="mkd-icon-font-awesome fa fa-long-arrow-up "></i>
                </span>
            </a>
            <div class="mkd-content" style="margin-top: -160px">

                @RenderBody()

            </div>
            <footer class="mkd-page-footer">
                <div class="mkd-footer-top-holder">
                    <div class="mkd-footer-top-inner mkd-grid">
                        <div class="mkd-grid-row mkd-footer-top-alignment-left">
                            <div class="mkd-column-content mkd-grid-col-3">
                                <div id="media_image-2" class="widget mkd-footer-column-1 widget_media_image"><a href="/Default/AboutUs"><img width="217" height="38" src="~/Images/Logo/logo.png" class="image wp-image-3389  attachment-full size-full" alt="a" loading="lazy" style="max-width: 100%; height: auto;" /></a></div><div id="text-3" class="widget mkd-footer-column-1 widget_text">
                                    <div class="textwidget">
                                        <p>Sektörün önde gelen firmalarından olan Matser ailesi olarak; siz değerli müşterilerimize kaliteli ve güler yüzlü hizmet sunmayı misyon edindik.</p>
                                    </div>
                                </div>
                                <a class="mkd-social-icon-widget-holder mkd-icon-has-hover" data-hover-color="#e7a022" style="color: #fff;;font-size: 15px;margin: 8px 0 0;" href="https://twitter.com/QodeInteractive" target="_blank">
                                    <span class="mkd-social-icon-widget fa fa-twitter     "></span>
                                </a>
                                <a class="mkd-social-icon-widget-holder mkd-icon-has-hover" data-hover-color="#e7a022" style="color: #fff;;font-size: 15px;margin: 8px 20px 0;" href="https://www.facebook.com/QodeInteractive/" target="_blank">
                                    <span class="mkd-social-icon-widget fa fa-facebook     "></span>
                                </a>
                                <a class="mkd-social-icon-widget-holder mkd-icon-has-hover" data-hover-color="#e7a022" style="color: #fff;;font-size: 15px;margin: 8px 0 0;" href="https://plus.google.com/" target="_blank">
                                    <span class="mkd-social-icon-widget fa fa-google-plus     "></span>
                                </a>
                                <a class="mkd-social-icon-widget-holder mkd-icon-has-hover" data-hover-color="#e7a022" style="color: #fff;;font-size: 15px;margin: 8px 0 0 20px;" href="https://www.linkedin.com/company/qode-themes/" target="_blank">
                                    <span class="mkd-social-icon-widget fa fa-linkedin     "></span>
                                </a>
                            </div>
                            <div class="mkd-column-content mkd-grid-col-3">
                                <div id="text-4" class="widget mkd-footer-column-2 widget_text">
                                    <div class="mkd-widget-title-holder"><h4 class="mkd-widget-title">Neler yapıyoruz?</h4></div> <div class="textwidget">
                                        <p>Ürün satış ve teknik bakım hizmetleri veriyoruz.</p>
                                    </div>
                                </div>
                                <a class="mkd-icon-widget-holder" href="/Default/MachineCategory/1" target="_self" style="margin: -16px 0 0 0">
                                    <span class="mkd-icon-text mkd-no-icon fa fa-cogs      mkd-icon-has-hover" style="color: #fff;font-size: 15px" data-hover-color="#e7a022"><span class="mkd-icon-text-inner">BASKI ÖNCESİ</span></span>
                                </a>
                                <div class="widget mkd-separator-widget">
                                    <div class="mkd-separator-holder clearfix  mkd-separator-left mkd-separator-normal">
                                        <div class="mkd-separator" style="border-color: #fff;border-style: solid;width: 250px;border-bottom-width: 1px;margin-top: 10px;margin-bottom: 14px"></div>
                                    </div>
                                </div>
                                <a class="mkd-icon-widget-holder" href="/Default/MachineCategory/2" target="_self">
                                    <span class="mkd-icon-text mkd-no-icon fa fa-cogs     mkd-icon-has-hover" style="color: #fff;font-size: 15px" data-hover-color="#e7a022"><span class="mkd-icon-text-inner">OFSET BASKI</span></span>
                                </a>
                                <div class="widget mkd-separator-widget">
                                    <div class="mkd-separator-holder clearfix  mkd-separator-left mkd-separator-normal">
                                        <div class="mkd-separator" style="border-color: #fff;border-style: solid;width: 250px;border-bottom-width: 1px;margin-top: 17px;margin-bottom: 14px"></div>
                                    </div>
                                </div>
                                <a class="mkd-icon-widget-holder" href="/Default/MachineCategory/3" target="_self">
                                    <span class="mkd-icon-text mkd-no-icon fa fa-cogs      mkd-icon-has-hover" style="color: #fff;font-size: 15px" data-hover-color="#e7a022"><span class="mkd-icon-text-inner">BASKI SONRASI</span></span>
                                </a>
                                <div class="widget mkd-separator-widget">
                                    <div class="mkd-separator-holder clearfix  mkd-separator-left mkd-separator-normal">
                                        <div class="mkd-separator" style="border-color: #fff;border-style: solid;width: 250px;border-bottom-width: 1px;margin-top: 17px;margin-bottom: 14px"></div>
                                    </div>
                                </div>
                                <a class="mkd-icon-widget-holder" href="/Default/MachineCategory/4" target="_self">
                                    <span class="mkd-icon-text mkd-no-icon fa fa-cogs      mkd-icon-has-hover" style="color: #fff;font-size: 15px" data-hover-color="#e7a022"><span class="mkd-icon-text-inner">ETİKET BASKI</span></span>
                                </a>
                            </div>
                            <div class="mkd-column-content mkd-grid-col-3">
                                <div id="text-5" class="widget mkd-footer-column-3 widget_text">
                                    <div class="mkd-widget-title-holder"><h4 class="mkd-widget-title">İletişim</h4></div> <div class="textwidget"></div>
                                </div>
                                <a class="mkd-icon-widget-holder" href="https://www.google.com/maps?ll=41.072709,28.798348&z=16&t=m&hl=tr&gl=TR&mapclient=embed&cid=8521210214383307845&_ga=2.156000697.388970479.1664704516-363768872.1664361296" target="_blank" style="margin: 0 64px 0 0">
                                    <span class="mkd-icon-text mkd-no-icon fa fa-map-marker      mkd-icon-has-hover" style="color: #fdb913;font-size: 15px" data-hover-color="#e7a022"><span class="mkd-icon-text-inner" style="color: #fff">İkitelli O.S.B. Aykosan San. Sitesi Altılı A, D:Blok No:79, İstanbul, Türkiye</span></span>
                                </a>
                                <a class="mkd-icon-widget-holder" href="tel:+902126717444" target="_self" style="margin: 30px 75px 0 0">
                                    <span class="mkd-icon-text mkd-no-icon fa fa-phone      mkd-icon-has-hover" style="color: #fdb913;font-size: 15px" data-hover-color="#e7a022"><span class="mkd-icon-text-inner" style="color: #fff">+9 0212 671 74 44</span></span>
                                </a>
                                <a class="mkd-icon-widget-holder" style="margin: 0 0 24px 20px">
                                    <span class="mkd-icon-text mkd-no-icon" style="font-size: 15px"><span class="mkd-icon-text-inner" style="color: #fff">Ptesi-Ctesi, 09:00-19:00</span></span>
                                </a>
                                <a class="mkd-icon-widget-holder" href="mailto:info@matser.com.tr" target="_self" style="margin: 0 63px 0 0">
                                    <span class="mkd-icon-text mkd-no-icon fa fa-envelope-o      mkd-icon-has-hover" style="color: #fdb913;font-size: 15px" data-hover-color="#e7a022"><span class="mkd-icon-text-inner" style="color: #fff"><span class="__cf_email__"> info@matser.com.tr</span></span></span>
                                </a>
                            </div>
                            <div class="mkd-column-content mkd-grid-col-3">
                                <div id="text-6" class="widget mkd-footer-column-4 widget_text">
                                    <div class="mkd-widget-title-holder"><h4 class="mkd-widget-title">Bayilerimiz</h4></div> <div class="textwidget">
                                        <p>Hızla gelişen bir kurum olarak hizmet bölgemizi arttırıyoruz!</p>
                                    </div>
                                </div>
                                <div id="media_image-3" class="widget mkd-footer-column-4 widget_media_image"><a href="https://www.google.com/maps/place/544+Union+Ave,+Brooklyn,+NY+11211,+USA/40.7171278,-73.9540194,17z/data=!3m1!4b1!4m13!1m7!3m6!1s0x89c24fa5d33f083b:0xc80b8f06e177fe62!2sNew+York,+NY,+USA!3b1!8m2!3d40.7127753!4d-74.0059728!3m4!1s0x89c2595bc660ec21:0x3131cdc6602b7460!8m2!3d40.7171238!4d-73.9518307" target="_blank" rel="noopener"><img width="270" height="142" src="~/FactoryTemplate/baumeister.qodeinteractive.com/wp-content/uploads/2017/12/footer-img-2.png" class="image wp-image-3375  attachment-full size-full" alt="a" loading="lazy" style="max-width: 100%; height: auto;" /></a></div>
                            </div>
                        </div>
                    </div>
                </div><div class="mkd-footer-bottom-holder">
                    <div class="mkd-footer-bottom-inner mkd-grid">
                        <div class="mkd-grid-row ">
                            <div class="mkd-grid-col-12">
                                <div id="text-11" class="widget mkd-footer-bottom-column-1 widget_text">
                                    <div class="textwidget">
                                        <p><a href="https://www.linkedin.com/in/sedat-t-1170781b7/" target="_blank" rel="nofollow noopener">© 2022 Sedat TUNGAÇ, All Rights Reserved</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    @Html.Partial("/Views/Shared/TemplateLayoutPartial/_TemplateLayoutScriptPartial.cshtml")

</body>
</html>
