@model EntityLayer.Concrete.Slider

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Slider Düzenleme Sayfası</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Index" asp-controller="Slider" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SliderId" />
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label">Resim</label>
                <input type="file" asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="float-left">
                    <a class="btn btn-outline-secondary" asp-action="Index">Geri Dön</a>
                </div>
                <div class="float-right">
                    <input type="submit" value="Kaydet" class="btn btn-outline-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

