@model IEnumerable<EntityLayer.Concrete.ServiceDetail>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int order = 1;
}

<br />
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Servis Detay Listesi</h3>
        <a class="float-right btn btn-outline-warning" href="/ServiceDetail/Add">Makine Ekle</a>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Makine Adı</th>
                    <th>PDF</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@order</td>
                        <td>@item.MachineName</td>
                        <td><a href="@item.PdfUrl" target="_blank" class="btn btn-outline-success">PDF</a></td>
                        <td><a href="/ServiceDetail/Delete/@item.ServiceDetailId" class="btn btn-outline-danger">Sil</a></td>
                    </tr>
                    order++;
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Makine Adı</th>
                    <th>PDF</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
