@model IEnumerable<EntityLayer.Concrete.Personal>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int order = 1;
}
<br />
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Personel Listesi</h3>
        <a class="float-right btn btn-outline-warning" href="/Personal/Add">Personel Ekle</a>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Başlık</th>
                    <th>Açıklama</th>
                    <th>Resim</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@order</td>
                        <td>@item.FullName</td>
                        <td>@item.Telephone</td>
                        <td><img width="200" src="@item.ImageUrl" /></td>
                        <td><a href="/Personal/Delete/@item.PersonalId" class="btn btn-outline-danger">Sil</a></td>
                        <td><a href="/Personal/Edit/@item.PersonalId" class="btn btn-outline-success">Düzenle</a></td>
                    </tr>
                    order++;
                }

            </tbody>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Başlık</th>
                    <th>Açıklama</th>
                    <th>Resim</th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>
