@model IEnumerable<EntityLayer.Concrete.Service>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int order = 1;
}

<br />
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Servis Listesi</h3>
        <a class="float-right btn btn-outline-warning" href="/Service/Add">Servis Ekle</a>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Başlık</th>
                    <th>Açıklama</th>
                    <th>İkon</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@order</td>
                        <td>@item.Title</td>
                        <td>@item.Description</td>
                        <td><a width="200" class="@item.Icon" /></td>
                        <td><a href="/Service/Delete/@item.ServiceId" class="btn btn-outline-danger">Sil</a></td>
                        <td><a href="/Service/Edit/@item.ServiceId" class="btn btn-outline-success">Düzenle</a></td>
                    </tr>
                    order++;
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Başlık</th>
                    <th>Açıklama</th>
                    <th>İkon</th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
