@model EntityLayer.Concrete.Contact
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}

<div class="mkd-content" style="margin-top: -80px">
    <div class="mkd-content-inner">
        <div class="mkd-title-holder mkd-centered-type mkd-preload-background mkd-has-bg-image mkd-bg-parallax" style="height: 595px; background-image: url(/Images/Slider/slider.jpg);" data-height="515">
            <div class="mkd-title-image">
                <img itemprop="image" src="https://baumeister.qodeinteractive.com/wp-content/uploads/2017/11/p2-title-contact-img-1.jpg" alt="j" />
            </div>
            <div class="mkd-title-wrapper" style="height: 515px;padding-top: 80px">
                <div class="mkd-title-inner">
                    <div class="mkd-grid">
                        <h1 class="mkd-page-title entry-title" style="color: #ffffff">Bize Ulaşın</h1>
                        <p class="mkd-page-subtitle" style="color: #ffffff;padding: 0 16%">İletişim adreslerimizle bizlere 7/24 ulaşabilirsiniz. </p>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="mkd-full-width">
            <div class="mkd-full-width-inner">
                <div class="mkd-grid-row">
                    <div class="mkd-page-content-holder mkd-grid-col-12">
                        <div class="mkd-row-grid-section-wrapper mkd-content-aligment-left" style="background-color:#ffffff">
                            <div class="mkd-row-grid-section">
                                <div class="vc_row wpb_row vc_row-fluid vc_custom_1512390687318">
                                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-6 vc_col-md-offset-0 vc_col-md-12 vc_col-sm-offset-0 vc_col-xs-12">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="mkd-elements-holder   mkd-one-column  mkd-responsive-mode-768 ">
                                                    <div class="mkd-eh-item    " data-item-class="mkd-eh-custom-8471" data-768-1024="3px 0 73px 0" data-680-768="3px 0 70px 0" data-680="5px 0 75px 0">
                                                        <div class="mkd-eh-item-inner">
                                                            <div class="mkd-eh-item-content mkd-eh-custom-8471" style="padding: 10px 0 0 0">
                                                                <div class="mkd-section-title-holder  mkd-st-standard mkd-st-title-left mkd-st-normal-space ">
                                                                    <div class="mkd-st-inner">
                                                                        <h3 class="mkd-st-title" style="color: #1b1b1b">
                                                                            İletişim
                                                                        </h3>
                                                                        @*<p class="mkd-st-text" style="line-height: 30px;margin-top: 34px">
                                                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullam ris.
                                                                            </p>*@
                                                                    </div>
                                                                </div><div class="vc_empty_space" style="height: 31px"><span class="vc_empty_space_inner"></span></div><div class="mkd-iwt clearfix  mkd-iwt-icon-left mkd-iwt-icon-tiny">
                                                                    <div class="mkd-iwt-icon">
                                                                        <a itemprop="url" href="#" target="_self">
                                                                            <span class="mkd-icon-shortcode mkd-normal   mkd-icon-tiny" data-hover-color="#1b1b1b" data-color="#fdb913">
                                                                                <i class="mkd-icon-font-awesome fa fa-map-pin mkd-icon-element" style="color: #fdb913"></i>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                    <div class="mkd-iwt-content">
                                                                        <p class="mkd-iwt-text" style="margin-top: 4px"><a href="https://www.google.com/maps?ll=41.072709,28.798348&z=16&t=m&hl=tr&gl=TR&mapclient=embed&cid=8521210214383307845" target="_blank">Aykosan Sanayi Sitesi 6lı A Blok No 79 Başakşehir İstanbul, Türkiye</a></p>
                                                                    </div>
                                                                </div><div class="vc_empty_space" style="height: 34px"><span class="vc_empty_space_inner"></span></div><div class="mkd-iwt clearfix  mkd-iwt-icon-left mkd-iwt-icon-tiny">
                                                                    <div class="mkd-iwt-icon">
                                                                        <a itemprop="url" href="#" target="_self">
                                                                            <span class="mkd-icon-shortcode mkd-normal   mkd-icon-tiny" data-hover-color="#1b1b1b" data-color="#fdb913">
                                                                                <i class="mkd-icon-font-awesome fa fa-phone mkd-icon-element" style="color: #fdb913"></i>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                    <div class="mkd-iwt-content">
                                                                        <p class="mkd-iwt-text" style="color: #8b8b8b;margin-top: 4px"><a href="tel:02126717444">0212 671 74 44</a></p>
                                                                    </div>
                                                                </div>
                                                                <div class="vc_empty_space" style="height: 33px"><span class="vc_empty_space_inner"></span></div><div class="mkd-iwt clearfix  mkd-iwt-icon-left mkd-iwt-icon-tiny">
                                                                    <div class="mkd-iwt-icon">
                                                                        <a itemprop="url" href="../cdn-cgi/l/email-protection.html#92f0f3e7fff7fbe1e6f7e0d2e3fdf6f7fbfce6f7e0f3f1e6fbe4f7bcf1fdff" target="_self">
                                                                            <span class="mkd-icon-shortcode mkd-normal   mkd-icon-tiny" data-hover-color="#1b1b1b" data-color="#fdb913">
                                                                                <i class="mkd-icon-font-awesome fa fa-envelope mkd-icon-element" style="color: #fdb913"></i>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                    <div class="mkd-iwt-content">
                                                                        <p class="mkd-iwt-text" style="margin-top: 4px"><a href="mailto:info@matser.com.tr" class="__cf_email__">info@matser.com.tr</a></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-6 vc_col-md-offset-0 vc_col-md-12 vc_col-sm-offset-0 vc_col-xs-12">
                                        <div class="vc_column-inner vc_custom_1511429433464">
                                            <div class="wpb_wrapper">
                                                <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
                                                <form asp-action="Contact" method="post" class="wpcf7-form init cf7_custom_style_2">
                                                    <div>
                                                        <div class="mkd-grid-row mkd-grid-tiny-gutter">
                                                            <div class="mkd-grid-col-6">
                                                                <span class="wpcf7-form-control-wrap" data-name="text"><input type="text" name="FullName" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="İsim Soyisim" /></span>
                                                                <span asp-validation-for="FullName" class="text-danger"> </span>
                                                            </div>
                                                            <div class="mkd-grid-col-6">
                                                                <span class="wpcf7-form-control-wrap" data-name="tel"><input type="tel" name="Telephone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" aria-invalid="false" placeholder="Telefon" /></span>
                                                                <span asp-validation-for="Telephone" class="text-danger"> </span>
                                                            </div>
                                                        </div>
                                                        <div class="mkd-grid-row">
                                                            <div class="mkd-grid-col-12">
                                                                <span class="wpcf7-form-control-wrap" data-name="email"><input type="email" name="Email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email" /></span>
                                                                <span asp-validation-for="Email" class="text-danger"> </span>
                                                            </div>
                                                        </div> 
                                                        <div class="mkd-grid-row">
                                                            <div class="mkd-grid-col-12">
                                                                <span class="wpcf7-form-control-wrap" data-name="textarea"><textarea name="Message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Bir mesaj yazınız"></textarea></span>
                                                                <span asp-validation-for="Message" class="text-danger"> </span>
                                                            </div>
                                                        </div>
                                                        <div class="mkd-grid-row">
                                                            <div class="mkd-grid-col-12">
                                                                <input type="submit" value="Mesaj Gönder" class="wpcf7-form-control has-spinner wpcf7-submit" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="wpcf7-response-output" aria-hidden="true"></div>
                                                </form>
                                                <br />

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="vc_row wpb_row vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3007.82998261254!2d28.796159215415997!3d41.072708879294254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cabb75b49a50ed%3A0x76416b8aecbf4c45!2sMATSER%20MAKINA%20MATBAA%20EKIPMANLARI%20-%20RYOBI%20MATBAA%20MAKINA%20SERVIS%20VE%20YEDEK%20PARCA!5e0!3m2!1str!2str!4v1662489264126!5m2!1str!2str" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>