@model EntityLayer.Concrete.Newsletter
@{
    ViewData["Title"] = "Newsletter";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}

<div class="mkd-content">
    <div class="mkd-content-inner">
        <div class="mkd-title-holder mkd-standard-with-breadcrumbs-type mkd-preload-background mkd-has-bg-image" style="height: 595px; background-image: url(https://wallpaperaccess.com/full/1848675.jpg); " data-height="515">
            <div class="mkd-title-image">
                <img itemprop="image" src="https://wallpaperaccess.com/full/1848675.jpg" alt="b" />
            </div>
            <div class="mkd-title-wrapper" style="height: 515px;padding-top: 80px">
                <div class="mkd-title-inner">
                    <div class="mkd-grid">
                        <div class="mkd-title-info">
                            <h1 class="mkd-page-title entry-title">E-Bülten</h1>
                        </div>
                        <div class="mkd-breadcrumbs-info">
                            <div itemprop="breadcrumb" class="mkd-breadcrumbs "><a itemprop="url" href="/Default/Index">Anasayfa</a><span class="mkd-delimiter">&nbsp; / &nbsp;</span><a>E-Bülten</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mkd-container">
            <div class="mkd-container-inner clearfix">
                <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-12 vc_col-md-offset-0 vc_col-md-12 vc_col-sm-offset-0 vc_col-xs-12">
                    <div class="vc_column-inner vc_custom_1511429433464">
                        <div class="wpb_wrapper">
                            <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
                            <form asp-action="Newsletter" method="post" class="wpcf7-form init cf7_custom_style_2">
                                <p style="text-align:center;">Ürünler ve güncel haberler için mail e-Bültenimize kayıt olun.</p>
                                <div>

                                    <div class="mkd-grid-row">
                                        <div class="mkd-grid-col-12">
                                            <span class="wpcf7-form-control-wrap" data-name="email"><input type="email" name="Email" value="" required size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email" /></span>
                                        </div>
                                    </div>
                                    <div class="mkd-grid-row">
                                        <div class="mkd-grid-col-12">
                                            <input type="submit" value="Kayıt Ol" class="wpcf7-form-control has-spinner wpcf7-submit" />
                                        </div>
                                    </div>
                                </div>
                                <div class="wpcf7-response-output" aria-hidden="true"></div>
                            </form>
                            <br />

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
