@using EntityLayer.Concrete
@model IEnumerable<EntityLayer.Concrete.Service>
@{
    ViewData["Title"] = "Service";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}

<div class="mkd-content" style="margin-top: -80px">
    <div class="mkd-content-inner">
        <div class="mkd-title-holder mkd-centered-type mkd-preload-background mkd-has-bg-image mkd-bg-parallax" style="height: 595px; background-image: url(/FactoryTemplate/baumeister.qodeinteractive.com/wp-content/uploads/2017/11/p2h-title-services-img-1.jpg);" data-height="515">
            <div class="mkd-title-image">
                <img itemprop="image" src="../wp-content/uploads/2017/11/p2h-title-services-img-1.jpg" alt="h" />
            </div>
            <div class="mkd-title-wrapper" style="height: 515px;padding-top: 80px">
                <div class="mkd-title-inner">
                    <div class="mkd-grid">
                        <h1 class="mkd-page-title entry-title" style="color: #1b1b1b">Servislerimiz</h1>
                        <p class="mkd-page-subtitle" style="color: #8b8b8b;padding: 0 16%">Yüksek kalite ve tecrübemizle sizlere hizmetler veriyoruz.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mkd-full-width">
            <div class="mkd-full-width-inner">
                <div class="mkd-grid-row">
                    <div class="mkd-page-content-holder mkd-grid-col-12">
                        <div class="mkd-row-grid-section-wrapper mt-5 " style="background-color:#ffffff">
                            <div class="mkd-row-grid-section">
                                <div class="vc_row wpb_row vc_row-fluid vc_custom_1512135900747">
                                    @foreach (var item in Model)
                                    {
                                        <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-offset-0 vc_col-lg-3 vc_col-md-offset-0 vc_col-md-6 vc_col-sm-offset-0 vc_col-xs-12">
                                            <div class="vc_column-inner vc_custom_1511175381003">
                                                <div class="wpb_wrapper">
                                                    <div class="mkd-iwt clearfix  mkd-iwt-icon-top mkd-iwt-icon-small">
                                                        <div class="mkd-iwt-icon">
                                                            <a itemprop="url" href="#" target="_self">
                                                                <span class="mkd-icon-shortcode mkd-circle   mkd-icon-small" style="width: 100px;height: 100px;line-height: 100px;background-color: #fdb913" data-hover-color="#ffffff" data-color="#1b1b1b">
                                                                    <i class="mkd-icon-font-awesome @item.Icon mkd-icon-element" style="color: #1b1b1b;font-size:40px"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                        <div class="mkd-iwt-content">
                                                            <h4 class="mkd-iwt-title" style="margin-top: 10px">
                                                                <a itemprop="url" href="#" target="_self">
                                                                    <span class="mkd-iwt-title-text">@item.Title</span>
                                                                </a>
                                                            </h4>
                                                            <p class="mkd-iwt-text">@item.Description</p>
                                                        </div>
                                                    </div><div class="vc_empty_space" style="height: 71px"><span class="vc_empty_space_inner"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    }


                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

