@*<div class="vc_row wpb_row vc_row-fluid vc_custom_1511342739868" style="background-color:#24272a">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="mkd-clients-carousel-holder mkd-cc-hover-roll-over">
                        <div class="mkd-cc-inner mkd-owl-slider" data-number-of-items="5" data-enable-loop="yes" data-enable-autoplay="yes" data-slider-speed="5000" data-slider-speed-animation="600" data-enable-navigation="no" data-enable-pagination="no">
                            <div class="mkd-cc-item">
                                <a itemprop="url" class="mkd-cc-link mkd-block-drag-link" href="#" target="_self">
                                    <img itemprop="image" class="mkd-cc-image" src="~/FactoryTemplate/baumeister.qodeinteractive.com/wp-content/uploads/2017/11/h4-carousel-img-1.png" alt="a" />
                                    <img itemprop="image" class="mkd-cc-hover-image" src="~/FactoryTemplate/baumeister.qodeinteractive.com/wp-content/uploads/2017/11/h4-carousel-hover-img-1.png" alt="a" />
                                </a>
                            </div>
                            <div class="mkd-cc-item">
                                <a itemprop="url" class="mkd-cc-link mkd-block-drag-link" href="#" target="_self">
                                    <img itemprop="image" class="mkd-cc-image" src="~/FactoryTemplate/baumeister.qodeinteractive.com/wp-content/uploads/2017/11/h4-carousel-img-2.png" alt="a" />
                                    <img itemprop="image" class="mkd-cc-hover-image" src="~/FactoryTemplate/baumeister.qodeinteractive.com/wp-content/uploads/2017/11/h4-carousel-hover-img-2.png" alt="a" />
                                </a>
                            </div>
                            <div class="mkd-cc-item">
                                <a itemprop="url" class="mkd-cc-link mkd-block-drag-link" href="#" target="_self">
                                    <img itemprop="image" class="mkd-cc-image" src="~/FactoryTemplate/baumeister.qodeinteractive.com/wp-content/uploads/2017/11/h4-carousel-img-3.png" alt="a" />
                                    <img itemprop="image" class="mkd-cc-hover-image" src="/FactoryTemplate/baumeister.qodeinteractive.com/wp-content/uploads/2017/11/h4-carousel-hover-img-3.png" alt="a" />
                                </a>
                            </div>
                            <div class="mkd-cc-item">
                                <a itemprop="url" class="mkd-cc-link mkd-block-drag-link" href="#" target="_self">
                                    <img itemprop="image" class="mkd-cc-image" src="~/FactoryTemplate/baumeister.qodeinteractive.com/wp-content/uploads/2017/11/h4-carousel-img-4.png" alt="a" />
                                    <img itemprop="image" class="mkd-cc-hover-image" src="/FactoryTemplate/baumeister.qodeinteractive.com/wp-content/uploads/2017/11/h4-carousel-hover-img-4.png" alt="a" />
                                </a>
                            </div>
                            <div class="mkd-cc-item">
                                <a itemprop="url" class="mkd-cc-link mkd-block-drag-link" href="#" target="_self">
                                    <img itemprop="image" class="mkd-cc-image" src="~/FactoryTemplate/baumeister.qodeinteractive.com/wp-content/uploads/2017/11/h4-carousel-img-5.png" alt="a" />
                                    <img itemprop="image" class="mkd-cc-hover-image" src="~/FactoryTemplate/baumeister.qodeinteractive.com/wp-content/uploads/2017/11/h4-carousel-hover-img-5.png" alt="a" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@