<div class="vc_row wpb_row vc_row-fluid vc_custom_1511342739868" style="background-color:#24272a">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="mkd-clients-carousel-holder mkd-cc-hover-roll-over">
                    <div class="mkd-cc-inner mkd-owl-slider" data-number-of-items="5" data-enable-loop="yes" data-enable-autoplay="yes" data-slider-speed="5000" data-slider-speed-animation="600" data-enable-navigation="no" data-enable-pagination="no">
                        <div class="mkd-cc-item">
                            <a itemprop="url" class="mkd-cc-link mkd-block-drag-link">
                                <img style="height:70px" itemprop="image" class="mkd-cc-image" src="~/Images/Logo/cfe45ce82564b352a1e18a315e9f4d1f8c971810.png" alt="a" />
                                <img style="height:70px" itemprop="image" class="mkd-cc-hover-image" src="~/Images/Logo/cfe45ce82564b352a1e18a315e9f4d1f8c971810.png" alt="a" />
                            </a>
                        </div>
                        <div class="mkd-cc-item">
                            <a itemprop="url" class="mkd-cc-link mkd-block-drag-link">
                                <img style="height:70px" itemprop="image" class="mkd-cc-image" src="~/Images/Logo/RMGT_Logo.6318a2e6a852c.jpg" alt="a" />
                                <img style="height:70px" itemprop="image" class="mkd-cc-hover-image" src="~/Images/Logo/RMGT_Logo.6318a2e6a852c.jpg" alt="a" />
                            </a>
                        </div>
                        <div class="mkd-cc-item">
                            <a itemprop="url" class="mkd-cc-link mkd-block-drag-link">
                                <img style="height:70px" itemprop="image" class="mkd-cc-image" src="~/Images/Logo/Ryobi_company_logo.svg.png" alt="a" />
                                <img style="height:70px" itemprop="image" class="mkd-cc-hover-image" src="~/Images/Logo/Ryobi_company_logo.svg.png" alt="a" />
                            </a>
                        </div>
                        <div class="mkd-cc-item">
                            <a itemprop="url" class="mkd-cc-link mkd-block-drag-link">
                                <img style="height:70px" itemprop="image" class="mkd-cc-image" src="~/Images/Logo/stahl-heidelberg-stahlfolder.jpg" alt="a" />
                                <img style="height:150px;" itemprop="image" class="mkd-cc-hover-image" src="~/Images/Logo/stahl-heidelberg-stahlfolder.jpg" alt="a" />
                            </a>
                        </div>
                        <div class="mkd-cc-item">
                            <a itemprop="url" class="mkd-cc-link mkd-block-drag-link">
                                <img style="height:70px" itemprop="image" class="mkd-cc-image" src="~/Images/Logo/weigang.png" alt="a" />
                                <img style="height:70px" itemprop="image" class="mkd-cc-hover-image" src="~/Images/Logo/weigang.png" alt="a" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>