@model MatserProject.Models.MachineViewModel

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h4>Makine Ekleme Sayfası</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Add" asp-controller="Machine" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Makine Adı</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group" class="control-label">Grup</label>
                <input asp-for="Group" class="form-control" />
                <span asp-validation-for="Group" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Özellikler</label>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Information" class="control-label">Teknik Bilgi</label>
                <textarea asp-for="Information" class="form-control" rows="5" ></textarea>
                <span asp-validation-for="Information" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelYear" class="control-label">Üretim Yılı</label>
                <input asp-for="ModelYear" class="form-control" />
                <span asp-validation-for="ModelYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryDate" class="control-label">Teslimat Tarihi</label>
                <input asp-for="DeliveryDate" class="form-control" />
                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producer" class="control-label">Üretici</label>
                <input asp-for="Producer" class="form-control" />
                <span asp-validation-for="Producer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dimension" class="control-label">Ebat</label>
                <input asp-for="Dimension" class="form-control" />
                <span asp-validation-for="Dimension" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label">Resim1</label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl2" class="control-label">Resim2</label>
                <input asp-for="ImageUrl2" class="form-control" />
                <span asp-validation-for="ImageUrl2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl3" class="control-label">Resim3</label>
                <input asp-for="ImageUrl3" class="form-control" />
                <span asp-validation-for="ImageUrl3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl4" class="control-label">Resim4</label>
                <input asp-for="ImageUrl4" class="form-control" />
                <span asp-validation-for="ImageUrl4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoUrl" class="control-label">Video Url</label>
                <input asp-for="VideoUrl" class="form-control" />
                <span asp-validation-for="VideoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineCategoryId" class="control-label"></label>
                <select asp-for="MachineCategoryId" class="form-control" asp-items="ViewBag.category"></select>
            </div>
            <div class="form-group">
                <div class="float-left">
                    <a class="btn btn-outline-secondary" asp-action="Index">Geri Dön</a>
                </div>
                <div class="float-right">
                    <input type="submit" value="Kaydet" class="btn btn-outline-primary" />
                </div>
            </div>
        </form>
    </div>
</div>
