@model EntityLayer.Concrete.Admin
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h4>Kullanıcı Ekleme Sayfası</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label">Ad Soyad</label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label">Şifre</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="float-left">
                    <a class="btn btn-outline-secondary" asp-action="Index">Geri Dön</a>
                </div>
                <div class="float-right">
                    <input type="submit" value="Kaydet" class="btn btn-outline-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

