@using EntityLayer.Concrete
@model IEnumerable<EntityLayer.Concrete.Service>
<div class="vc_row wpb_row vc_row-fluid">

    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="mkd-elements-holder   mkd-three-columns  mkd-responsive-mode-768 ">
                    @foreach (var item in Model)
                    {


                        <div class="mkd-eh-item    " style="background-image: url(@item.ImageUrl)" data-item-class="mkd-eh-custom-2621" data-1280-1600="27% 17% 31% 17% " data-1024-1280="26% 15% 31% 10%" data-768-1024="33.5% 9% 38.5% 9%" data-680-768="15% 34% 17% 9%" data-680="38% 5% 43% 5%">
                            <div class="mkd-eh-item-inner">
                                <div class="mkd-eh-item-content mkd-eh-custom-2621" style="padding: 25% 26% 28% 24%">
                                    <div class="mkd-section-title-holder  mkd-st-standard mkd-st-title-left mkd-st-normal-space " style="text-align: left">
                                        <div class="mkd-st-inner">
                                            <h3 class="mkd-st-title" style="color: #ffffff">
                                                @item.Title
                                            </h3>
                                            <p class="mkd-st-text" style="color: #ffffff;margin-top: 18px">
                                                @item.Description
                                            </p>
                                        </div>
                                    </div><div class="vc_empty_space" style="height: 42px"><span class="vc_empty_space_inner"></span></div><a itemprop="url" href="/Default/ServiceDetail/@item.ServiceId" target="_self" class="mkd-btn mkd-btn-medium mkd-btn-solid mkd-btn-icon">
                                        <span class="mkd-btn-text">Daha Fazla</span>
                                        <span class="mkd-btn-icon"><i class="mkd-icon-font-awesome fa fa-long-arrow-right "></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>